@page
@model IndexModel

@{
    ViewData["Title"] = "Główna";
}

<div class="p-3 rounded mt-5" style="border-style: solid; border-color:#ec008c">
    <h3 class="p-3 text-center mb-3 fs-1 fw-bold" style="color: #ec008c">Wyszukaj placówkę</h3>
    <form id="search" method="post" class="mb-3" style="color:#ec008c" asp-area="" asp-page="/Institution/Index" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
            <div class="row mb-3">
                <div class="col-md-6 form-floating p-1">
                    <input asp-for="Search.Nazwa" class="form-control" id="floatingInput" placeholder="Nazwa" autocomplete="nazwa" style="border-style: solid; border-color:#ec008c">
                    <label asp-for="Search.Nazwa" for="floatingInput" class="mt-1">Nazwa</label>
                </div>
                <div class="col-md-6 form-floating p-1">
                    <select asp-for="Search.Typ" class="form-control" style="border-style: solid; border-color:#ec008c">
                        <option>*</option>
                        <option value="Przedszkole niepubliczne">Przedszkole niepubliczne</option>
                        <option value="Przedszkole publiczne">Przedszkole publiczne</option>
                        <option value="Żłobki">Żłobki</option>
                    </select>
                    <label asp-for="Search.Typ" class="form-label">Typ placówki</label>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-4 form-floating p-1">
                    <input asp-for="Search.Miejscowosc" class="form-control" id="floatingInput" placeholder="Miejscowosc" autocomplete="miejscowosc" style="border-style: solid; border-color:#ec008c">
                    <label asp-for="Search.Miejscowosc" for="floatingInput" class="mt-1">Miejscowosc</label>
                </div>
                <div class="col-md-4 form-floating p-1">
                    <input asp-for="Search.Dzielnica" class="form-control" id="floatingInput" placeholder="Dzielnica" autocomplete="dzielnica" style="border-style: solid; border-color:#ec008c">
                    <label asp-for="Search.Dzielnica" for="floatingInput" class="mt-1">Dzielnica</label>
                </div>
                <div class="col-md-4 form-floating p-1">
                    <input asp-for="Search.Ulica" class="form-control" id="floatingInput" placeholder="Ulica" autocomplete="ulica" style="border-style: solid; border-color:#ec008c">
                    <label asp-for="Search.Ulica" for="floatingInput" class="mt-1">Ulica</label>
                </div>
            </div>
            <div class="row justify-content-center p-1">
                <button type="submit" class="btn btn-lg p-2 col-md-6" style="border-style: solid; border-color:#ec008c">Szukaj</button>
            </div>
    </form>
</div>

<h1 class="mt-5" style="color:#ec008c">Nowe przedszkola</h1>
<div class="mt-5 row justify-content-center">
    @foreach (var item in Model.PlacowkaLista.Take(3))
    {
        <a asp-page="/Institution/Details" asp-route-id="@item.ID" class="col-md-3 me-md-5 mx-0 mb-4 row justify-content-center text-decoration-none" style="border-style: solid; border-color:#ec008c;">
            <div class="col-6 mt-2">
                <img class="img-thumbnail img-fluid" src="@Html.DisplayFor(m => item.Zdjecie)" />
            </div>
            <h3 class="text-center mt-2 text-dark">
                @Html.DisplayFor(m => item.Nazwa)
            </h3>
        </a>
    }
    <div class="row justify-content-center mt-5 me-md-5 mb-md-3 m-auto">
        <a class="btn rounded col-md-4 text-decoration-none mb-3 fs-3" style="color:#ec008c; border:solid; border-color:#ec008c" asp-page="/Institution/Index">Zobacz więcej</a>
    </div>
</div>

@*<h1 class="mt-5" style="color:#ec008c">Nowości</h1>
<div class="mt-5 mx-md-0 mx-auto row justify-content-center">
    <ul class="px-md-5">
        @foreach (var item in Model.Aktualnosci.Take(6))
        {
            <li class="fs-3">
                <div>
                    @Html.DisplayFor(modelItem => item.Tytul)
                    @Html.DisplayFor(modelItem => item.Data)
                </div>
                <div class="text-truncate fs-4">
                    @Html.DisplayFor(modelItem => item.Opis)
                </div>
                <div class="text-end mb-3">
                    <a asp-page="/News/Details" asp-route-id="@item.ID" style="color:#ec008c;">
                        <span class="fs-4">
                            Czytaj więcej
                        </span>
                        <span class="icon fs-5">
                            <ion-icon name="arrow-forward-outline"></ion-icon>
                        </span>
                    </a>
                </div>
            </li>
        }
    </ul>
    <div class="row justify-content-center mt-5 mb-md-3 me-md-5 m-auto ">
        <a class="btn rounded col-md-4 text-decoration-none mb-3 fs-3" style="color:#ec008c; border:solid; border-color:#ec008c" asp-page="/News/allNews/Index">Zobacz więcej</a>
    </div>
</div>*@
